#Blog1 {display: none; }
      
      .mega-menu:focus ~  #Blog1 {display: block;}
       
      .post-title:focus ~ #Blog1 {display: block;}      
      
      .view-all:focus ~  #Blog1 {display: block;}
 
